@keyframes moveInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  /* 40% {
    transform: rotate(-180deg);
  } */
  80% {
    transform: translate(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInFromTop {
  0% {
    opacity: 0;
    transform: translateY(-10rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInFromRight {
  0% {
    opacity: 0;
    transform: rotate(-360deg); }
  100% {
    opacity: 1; } }

@keyframes moveInFromBottom {
  0% {
    opacity: 0;
    transform: translateY(10rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  padding: 3rem; }

.main-heading {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 5rem; }
  .main-heading--large {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 2rem;
    animation-name: moveInFromTop;
    animation-duration: 2s; }
  .main-heading--sub {
    display: block;
    font-size: 4rem;
    font-weight: 4rem;
    letter-spacing: 1.5rem;
    animation-name: moveInFromLeft;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-fill-mode: backwards; }
    .main-heading--sub:hover {
      transform: skewY(2deg); }

.secondary-heading {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: -webkit-linear-gradient(left, #a4fbed, #00ffe2);
  background-image: -o-linear-gradient(left, #a4fbed, #00ffe2);
  background-image: linear-gradient(to left top, #a4fbed, #00ffe2);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .2rem;
  transition: all .2s; }
  .secondary-heading:hover {
    transform: skewY(-6deg) skewX(5deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.tertiary-heading {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.para {
  font-size: 1.6rem; }
  .para li {
    font-size: 1.6rem;
    margin-left: 3rem; }
  .para:not(:last-child) {
    margin-bottom: 1.8rem; }

.u-centre-text {
  text-align: center; }

.u-margin-bottom-large {
  margin-bottom: 8rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.button:link, .button:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  border-radius: 0.5rem;
  display: inline-block;
  transition: all .2s;
  position: relative;
  font-size: 1.6rem; }

.button:hover {
  transform: translateY(-1rem);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  font-size: 2rem; }
  .button:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.button:active {
  transform: translateY(-0.5rem);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2); }

.button--white {
  background-color: #fff;
  color: #008080; }
  .button--white::after {
    background-color: #fff; }

.button::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: .5rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.8s; }

.button .button--animated {
  animation: moveInFromBottom 1s ease-out 5s;
  animation-fill-mode: backwards; }

.text-button:link, .text-button:visited {
  font-size: 1.6rem;
  color: #52fde8;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #52fde8;
  padding: 8px;
  transition: all .2s; }

.text-button:hover {
  background-color: #52fde8;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.text-button:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.composition {
  position: relative; }
  .composition__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 0.5rem;
    position: absolute;
    z-index: 5;
    transition: all .2s;
    outline-offset: 0.6rem; }
    .composition__photo--p1 {
      left: -5%;
      top: -2rem; }
    .composition__photo--p2 {
      right: 5%;
      top: 2rem; }
    .composition__photo--p3 {
      left: 15%;
      top: 15rem; }
    .composition__photo:hover {
      outline: 1rem solid #52fde8;
      transform: scale(1.2) translateY(-0.5rem);
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.6);
      z-index: 15; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.8); }

.theme-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 1.8rem;
  margin: 1rem;
  text-align: center;
  border-radius: 0.5rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: transition .3s; }
  .theme-box__icon {
    font-size: 5rem;
    margin: .1rem;
    display: inline-block;
    background-image: -webkit-linear-gradient(left, #a4fbed, #00ffe2);
    background-image: -o-linear-gradient(left, #a4fbed, #00ffe2);
    background-image: linear-gradient(to left top, #a4fbed, #00ffe2);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent; }
  .theme-box:hover {
    transform: translateY(-1.5rem) scale(1.03); }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 50rem; }
  .card__side {
    color: #fff;
    height: 50rem;
    font-size: 2rem;
    transition: all .8s ease;
    position: absolute;
    height: 50rem;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 1rem;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
    .card__side--front {
      background-color: #fff; }
    .card__side--back {
      background-image: linear-gradient(to right bottom, #ffb900, #ff7730);
      transform: rotateY(180deg); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }

.row {
  max-width: 130rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-6 {
    width: calc((100% - 5 * 1.2rem) / 6);
    float: left; }
    .row .col-1-of-6:not(:last-child) {
      margin-right: 1.2rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 1.2rem) / 3) + 1.2rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 1.2rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 1.2rem) / 4) + 1.2rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 1.2rem) / 4) + (2 * 1.2rem)); }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(164, 251, 237, 0.7), rgba(0, 255, 226, 0.7)), url("../images/hero.jpg");
  background-size: cover;
  background-position: top;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); }
  .header__logo-container {
    position: absolute;
    top: 3.5rem;
    left: 3.5rem;
    backface-visibility: hidden; }
  .header__logo {
    height: 6rem; }
  .header__logo:hover {
    animation: moveInFromRight;
    animation-duration: 3s;
    cursor: pointer; }
  .header__text-container {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.about-section {
  background-color: #f7f7f7;
  padding: 20rem 10rem;
  margin-top: -20vh; }

.theme-section {
  padding: 10rem 0;
  background-image: linear-gradient(to right bottom, rgba(164, 251, 237, 0.7), rgba(0, 255, 226, 0.7)), url("../images/geometric-art-large.jpg");
  background-size: cover;
  margin-top: -9rem;
  transform: skewY(-5deg); }
  .theme-section > * {
    transform: skewY(5deg); }

.faves-section {
  background-color: #f7f7f7;
  padding: 20rem 0 20rem 0;
  margin-top: -9rem; }
