// Colours

$colour-primary: #52fde8;
$colour-primary-light: #a4fbed;
$colour-primary-dark: #00ffe2;
$colour-primary-extra-dark: #008080;

$colour-secondary-light: #ffb900;
$colour-secondary-dark: #ff7730;

$colour-tertiary-light: #bc4e9c;
$colour-tertiary-dark: #f80759;

$colour-grey-light: #f7f7f7;
$colour-grey-light-2: #eee;
$colour-grey-dark: #777;
$colour-grey-dark-2: #999;
$colour-grey-dark-3: #373536;
$colour-white: #fff;
$colour-black: #000;

// Grid variables

$grid-width: 130rem;
$vertical-margin: 8rem;
$horizontal-margin-large: 6rem;
$horizontal-margin: 1.2rem;

// fonts

$default-font-size: 1.6rem;


// border radius

$radius-large: 1rem;
$radius-medium: .5rem;
$radius-small: .4rem;
