// Colours

$colour-primary: #52fde8;
$colour-primary-light: #a4fbed;
$colour-primary-dark: #00ffe2;
$colour-primary-extra-dark: #008080;

$color-grey-light: #f7f7f7;
$colour-grey-dark: #777;
$colour-white: #fff;
$colour-black: #000;

// Grid variables

$grid-width: 130rem;
$vertical-margin: 8rem;
$horizontal-margin: 1rem;

// fonts

$default-font-size: 1.6rem;
