$colour-primary: #52fde8;
$colour-primary-light: #a4fbed;
$colour-primary-dark: #00ffe2;
$colour-primary-extra-dark: #008080;
$colour-grey-dark: #777;
$colour-white: #fff;
$colour-black: #000;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: $colour-grey-dark;
  padding: 3rem;
  box-sizing: border-box;
}

.header {
  height: 95vh;
  background-image: linear-gradient(
    to right bottom,
    rgba($colour-primary-light, 0.7),
    rgba($colour-primary-dark, 0.7)),
  url('../images/hero.jpg');
  background-size: cover;
  background-position: top;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

  &__logo-container {
    position: absolute;
    top: 3.5rem;
    left: 3.5rem;
    backface-visibility: hidden;
  }

  &__logo {
    height: 6rem;
  }

  &__logo:hover {
    animation: moveInFromRight;
    animation-duration: 3s;
    cursor: pointer;
  }

  &__text-container {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}

.main-heading {
  color: $colour-white;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 5rem;

  &--large {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 2rem;
    animation-name: moveInFromTop;
    animation-duration: 2s;
  }

  &--sub {
    display: block;
    font-size: 4rem;
    font-weight: 4rem;
    letter-spacing: 1.5rem;
    animation-name: moveInFromLeft;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-fill-mode: backwards;
  }
}

@keyframes moveInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  /* 40% {
    transform: rotate(-180deg);
  } */

  80% {
    transform: translate(1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInFromTop {
  0% {
    opacity: 0;
    transform: translateY(-10rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInFromRight {
  0% {
    opacity: 0;
    transform: rotate(-420deg);
  }

  100% {
    opacity: 1;
  }
}

@keyframes moveInFromBottom {
  0% {
    opacity: 0;
    transform: translateY(10rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.button {
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    border-radius: .5rem;
    display: inline-block;
    transition: all .2s;
    position: relative;
    font-size: 1.6rem;
  }

  &:hover {
    transform: translateY(-1rem);
    box-shadow: 0 10px 20px rgba($colour-black,.5);
    font-size: 2rem;
    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &:active {
    transform: translateY(-0.5rem);
    box-shadow: 0 10px 10px rgba($colour-black,.2);
  }

  &--white {
    background-color: $colour-white;
    color: $colour-primary-extra-dark;
    &::after {
      background-color: $colour-white;
    }

  }
  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: .5rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.8s;
  }

  .button--animated {
    animation: moveInFromBottom 1s ease-out 5s;
    animation-fill-mode: backwards;
  }

}
