.header {
  height: 95vh;
  background-image: linear-gradient(
    to right bottom,
    rgba($colour-primary-light, 0.7),
    rgba($colour-primary-dark, 0.7)),
  url('../images/hero.jpg');
  background-size: cover;
  background-position: top;
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

  &__logo-container {
    position: absolute;
    top: 3.5rem;
    left: 3.5rem;
    backface-visibility: hidden;
  }

  &__logo {
    height: 6rem;
  }

  &__logo:hover {
    animation: moveInFromRight;
    animation-duration: 3s;
    cursor: pointer;
  }

  &__text-container {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}
