.about-section {
  background-color: $colour-grey-light;
  padding: 20rem 10rem;
  margin-top: -20vh;
}

.theme-section {
  padding: 10rem 0;
  background-image: linear-gradient(
    to right bottom,
    rgba($colour-primary-light, 0.7),
    rgba($colour-primary-dark, 0.7)),
  url('../images/geometric-art-large.jpg');
  background-size: cover;
  margin-top: -9rem;

  transform: skewY(-5deg);

  & > * {
    transform: skewY(5deg);
  }
}

.faves-section {
  background-color: $colour-grey-light;
  padding: 15rem 0 10rem 0;
  margin-top: -9rem;
}

.stories-section {
  padding: 10rem 0;
  background-color: $colour-grey-light;
}
